@tailwind base;
@tailwind components;
@tailwind utilities;

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.fadein {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grad {
  background: rgb(69, 182, 237);
  background: radial-gradient(
    circle,
    rgba(69, 182, 237, 1) 37%,
    rgba(152, 221, 255, 1) 71%
  );
}
